
<%- include("header") -%>
 
  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>
 
  <div class="box">
 
  <%  newListItems.forEach(function(item){ %>
    <!-- The forEach() method calls a function for each element in an array. -->

    <!-- this form is to delete the element when its box is cheched -->
      <form action="/delete" method="post">
        <div class="item">
          <!-- whenever there is change in status of our checkbox just submit the form to delete route
          and value and name will be send along with this-->
          <input type="checkbox" name="checkbox" value="<%= item._id %> " onChange="this.form.submit()">
          <p>
            <%= item.name %>
          </p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      
  <%  }); %>
 
  <!-- form to add itmes to list -->
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %> ">+</button>
      </form>
  </div>
 
<%- include("footer") -%>





<!-- 
user: todo
pass: 1223 
-->